.App {
  display: flex;
  background-color: #fd96b4;
  color: white;
}

.left__side {
  height: 100vh;
  width: 45%;
  object-fit: contain;
  overflow: hidden;
}
.hand__image {
}
.right__side {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first__header {
  font-size: 55px;
  font-weight: bold;
  display: block;
}

.second__header {
  font-size: 55px;
  font-weight: 200;
}

.desc__paragraph {
  font-size: 12px;
  max-width: 350px;
  font-weight: 700;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  width: 350px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6ba4b8;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.icons__header {
  font-size: 15px;
  font-weight: 700;
  margin-top: 40px;
}
.icons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
